/* body
{
  background-color:#eee
} */
.wrap
{
  margin:50px auto 0 auto;
  /* width:100%; */
  display:flex;
  /* align-items:space-around; */
  /* align-content: center; */
  /* justify-content: center; */
  /* max-width:1200px; */
}
.tile
{
  /* width:240px; */
  height:200px;
  margin: 0px 0 0 0;
  min-width: 200px;
  background-color: whitesmoke;
  /* display:inline-block; */
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  border: solid 1px black;
  
}
.tile img
{
  padding: 20%;
  height:100%;
  width:100%;
  /* position:absolute; */
  /* margin: 30% 0 0 0;
  padding: auto ; */
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
    text-align: center;
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
  position: absolute;
  text-align: center;
  /* bottom: 5%; */
  font-size: x-large;
 /* margin-top: 10%; */
  font-weight:300;
  /* margin:0; */
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
  font-size: medium;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.tile h5{
  position: absolute;
  text-align: center;
  bottom: 0;
  font-size: medium;
}
.animate-text
{
  font-size: large;
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  /* transform:scale(1.05); */
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1500px) {
  /* .wrap {
   flex-direction: column;
    width:400px;
    width:100%;
    margin-left: 20%;
  } */

.tile{
  margin:0 auto 0 auto;
}

}

@media (max-width: 1300px) {
  .wrap {
   flex-direction: column;
    width:400px;
    width:100%;
    margin-left: 20%;
  }

.tile{
  min-width: 320px;
  height:420px;
  margin:20px auto 0 auto;
}

} 